/* styles.css */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}

.button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    text-align: center; /* Centraliza o texto das células */
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: center; /* Centraliza o texto das células */
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #f1f1f1;
    font-weight: bold;
}
.delete-button {
    color: red; /* Cor do ícone e do texto */
    text-decoration: none; /* Remove a decoração de link */
    margin-left: 10px; /* Espaçamento à esquerda do ícone */
}