{% extends 'app/base_app.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'app/styles.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <a href="{% url 'pagina_principal' %}" class="back-button"><i class="fa fa-arrow-left"></i> Voltar</a>
        <h2 class="title">Lista de Produtos</h2>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Preço (R$)</th>
                    <th>Categoria</th>
                    <th>Alergênico</th>
                    <th>Vegano</th>
                    <th>Quantidade</th>
                    <th>Alergia Gluten</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                    <tr>
                        <td>{{ produto.productname }}</td>
                        <td>{{ produto.price }}</td>
                        <td>{{ produto.category }}</td>
                        <td>{% if produto.alergenico %} Sim {% else %} Não {% endif %}</td>
                        <td>{% if produto.vegano %} Sim {% else %} Não {% endif %}</td>
                        <td>{{ produto.quantidade }}</td>
                        <td>{{ produto.alergia_gluten }}</td>
                                                <!-- Remove a coluna ID de Registro -->
                        <td>

                            <a href="{% url 'update_produto' produto_id=produto.id_registro %}">Edit</a>
                            <a href="{% url 'delete_produto' produto_id=produto.id_registro %}" class="delete-button">
                                <i class="fa fa-trash"></i> Excluir
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <form method="post" action="{% url 'cadastrar-produto' %}" class="form_produto">
            {% csrf_token %}
            {{ form_produto.as_p }}
            <button type="submit" class="button">Novo Produto</button>
        </form>
    </div>


{% endblock %}
