<!-- app/pagina_principal.html -->

{% extends 'app/base_app.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'app/styles.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="title">Página Principal</h2>
        <div class="options">
            <a href="{% url 'app_cliente' %}" class="option">Clientes</a>
            <a href="{% url 'app_produtos' %}" class="option">Produtos</a>
            <a href="{% url 'listar_pedidos' %}">Pedido </a>
            

        </div>
    </div>
{% endblock %}