{% extends 'app/base_app.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'app/styles.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="title">Cadastrar Novo Pedido</h2>
        <form method="post" action="{% url 'adicionar_pedidos' %}" class="form3">
            {% csrf_token %}
            {{ form3.as_p }}
            <button type="submit" class="button">Adicionar Pedido</button>
        </form>

        <h2 class="title">Lista de Pedidos</h2>
        <table>
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Produto Consumido</th>
                    <th>Quantidade</th>
                    <th>Horário</th>

                </tr>
            </thead>
            <tbody>
                {% for ordem in ordens %}
                    <tr>
                        <td>{{ ordem.cliente}}</td>
                        <td>{{ ordem.product.productname }}</td>
                        <td>{{ ordem.quantidade}}</td>
                        <td>{{ ordem.date }}</td>

                                                <!-- Remove a coluna ID de Registro -->
                        <td>
                            <a href="{% url 'update_pedido' pedido_id=ordem.id %}">Editar</a>
                            <a href="{% url 'delete_pedido' pedido_id=ordem.id %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
